
body{
    background-color: grey;
}

.cursor-pointer {
    cursor: pointer;
}
  
.hover-background-gray:hover {
    background: lightgray;
}

.centerCard {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}

